.container{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "avocadaGrill avocadaGrill . ."
    "avocadaGrill avocadaGrill caseCite ."
    "sunSat burger caferMelchior caferMelchior"
    ". carteMaps caferMelchior caferMelchior"
    ". . makeReservation makeReservation "
    ". downloadMenu chefDaniel OurPhilosophy"
    "pharitas citeTwo . ."
    "foot foot foot foot"
;
}
.boxadd{
    width: 98%;
    height: 50vw;
    margin: auto;
    margin-top: 10px;
}
.littlebox{
    height: 25vh;

}


.boxremove{
    width: 98%;
    height: 100vw;
    margin: auto;
    margin-top: 10px;
}
