.container{
    box-sizing: border-box;
    width: 100%;
    display: grid;

}
.box{
    width: 98%;
    height: 100vw;
    margin: auto;
    margin-top: 10px;
}
.boxTwo{
    width: 98%;
    height: 50vw;
    margin: auto;
    margin-top: 10px;
}



.avocadaGrill{
    background: #00abff;
    grid-area: avocadaGrill;
}

.caseCite{
    border: 5px #F2EAE1 solid;
    grid-area: caseCite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sunSat{
    background: #F2EAE1;
    grid-area: sunSat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burger{
    background: #1abc9c;
    grid-area: burger;

}
.caferMelchior{
    background: #3C65F5;
    grid-area: caferMelchior;

}

.carteMaps{
    grid-area: carteMaps;

}
.makeReservation {
    background: #8fb996;
    grid-area: makeReservation;
    display: flex;
    align-items: center;
    justify-content: center;
}
.OurPhilosophy{
    grid-area: OurPhilosophy;
    border: 5px #F2EAE1 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chefDaniel{
    background: #9b59b6;
    grid-area: chefDaniel;

}
.pharitas{
    background: #415d43;
    grid-area: pharitas;

}
.downloadMenu{
    background: #F2EAE1;
    grid-area: downloadMenu;
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;

}
.citeTwo{
    grid-area: citeTwo;
    border: 5px #F2EAE1 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot{
    background: #d90429;
    grid-area: foot;
}

iframe{
    width: 100%;
    height: 100%;
}

.quote{
    width: 10%;
}