@media (max-width: 1250px) { 

ul {
    width: 100%;
}
.CD, .CG{
    float: none;
    width: 100%;
}

cite{
    width: 65%;
}

#interets{
    margin-bottom: 70px;
}
    .suppPKES{
        height: 124px;
        align-items: center;
        display: flex;
    }

    #presentation {
        text-align: center;
      }
 }